{
  "extends": [
    "stylelint-config-rational-order",
    "stylelint-prettier/recommended",
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-prettier",
    "stylelint-scss"
  ],
  "rules": {
    "prettier/prettier": true
  },
}
