{
  "extends": ["stylelint-config-rational-order", "stylelint-config-standard"],
  "plugins": ["stylelint-order"],
  "rules": {
    "selector-id-pattern": null,
    "selector-class-pattern": null
  }
}
