:root {
  --accent: hotpink;
  --primary: #fff;
  --secondary: #aaa;
  --tertiary: #777;
  --background: #444;
  --background-secondary: #333;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@keyframes show {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#vimiumHintMarkerContainer {
  .internalVimiumHintMarker {
    padding: 3px 4px;
    background: var(--background);
    border: none;
    box-shadow: var(--box-shadow);
  }

  span {
    color: var(--primary);
    text-shadow: none;
  }

  .matchingCharacter {
    opacity: 0.4;

    ~ span {
      color: var(--accent);
    }
  }
}

#vomnibar {
  background: var(--background);
  border: none;
  box-shadow: var(--box-shadow);
  animation: show 200ms cubic-bezier(0, 0, 0.2, 1) forwards;

  .vomnibarSearchArea {
    padding: 10px 30px;
    color: var(--primary);
    background: transparent;
    border: none;
  }

  #vomnibarInput {
    padding: 0;
    background: transparent;
  }

  ul {
    margin: 0;
    padding: 0;
    background: var(--background);
    border-top: 1px solid var(--background-secondary);
  }

  li {
    padding: 10px;
    border-bottom: 1px solid var(--background-secondary);

    .vomnibarTopHalf,
    .vomnibarBottomHalf {
      padding: 3px 0;
    }

    .vomnibarTitle,
    .vomnibarSource {
      color: var(--secondary);
    }

    .vomnibarUrl {
      color: var(--tertiary);
    }

    .vomnibarMatch {
      color: var(--accent);
      font-weight: normal;
    }

    .vomnibarTitle .vomnibarMatch {
      color: var(--accent);
    }

    &.vomnibarSelected {
      background-color: var(--background-secondary);
    }
  }
}

div.vimiumHUD {
  background: var(--background);
  border: none;
  box-shadow: var(--box-shadow);

  span#hud-find-input {
    color: var(--primary);
  }

  .hud-find,
  .vimiumHUDSearchArea {
    background-color: transparent;
    border: none;
  }
}
