div {
  > .vimiumHintMarker {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #fff785),
      color-stop(100%, #ffc542)
    );
    border: 1px solid #e3be23;

    span {
      color: black;
      font-weight: bold;
      font-size: 12px;
    }
  }
}

#vomnibar {
  background: #444;
  border: none;

  .vomnibarSearchArea,
  input {
    background: transparent;
    border: none;
    color: #fff;
  }

  .vomnibarSearchArea {
    padding: 10px 30px;
    border-bottom: 1px solid #333;
  }

  input {
    padding: 0;
  }

  ul {
    padding: 0;
    background: #444;
  }

  li {
    padding: 10px;
    border-bottom: 1px solid #333;

    .vomnibarTopHalf,
    .vomnibarBottomHalf {
      padding: 3px 0;
    }

    .vomnibarSauce {
      color: #aaa;
    }
    em,
    .vomnibarTitle {
      color: #aaa;
    }
    .vomnibarUrl {
      color: #222;
    }
    .vomnibarTitle .vomnibarMatch {
      color: #fff;
    }
    .vomnibarMatch {
      color: #777;
      font-weight: normal;
    }
    &.vomnibarSelected {
      background-color: #333;
    }
  }
}
