#vomnibar {
  background: #444;
  border: none;

  .vomnibarSearchArea,
  input {
    color: #fff;
    background: transparent;
    border: none;
  }

  .vomnibarSearchArea {
    padding: 10px 30px;
    border-bottom: 1px solid #333;
  }

  input {
    padding: 0;
  }

  ul {
    padding: 0;
    background: #444;
  }

  li {
    padding: 10px;
    border-bottom: 1px solid #333;

    .vomnibarTopHalf,
    .vomnibarBottomHalf {
      padding: 3px 0;
    }

    .vomnibarSauce {
      color: #aaa;
    }
    em,
    .vomnibarTitle {
      color: #aaa;
    }
    .vomnibarUrl {
      color: #222;
    }
    .vomnibarTitle .vomnibarMatch {
      color: #fff;
    }
    .vomnibarMatch {
      color: #777;
      font-weight: normal;
    }
    &.vomnibarSelected {
      background-color: #333;
    }
  }
}
