div > .vimiumHintMarker {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fff785),
    color-stop(100%, #ffc542)
  );
  border: 1px solid #e3be23;
}
div > .vimiumHintMarker span {
  color: black;
  font-weight: bold;
  font-size: 12px;
}

#vomnibar {
  background: #444;
  border: none;
}
#vomnibar .vomnibarSearchArea,
#vomnibar input {
  background: transparent;
  border: none;
  color: #fff;
}
#vomnibar .vomnibarSearchArea {
  padding: 10px 30px;
  border-bottom: 1px solid #333;
}
#vomnibar input {
  padding: 0;
}
#vomnibar ul {
  padding: 0;
  background: #444;
}
#vomnibar li {
  padding: 10px;
  border-bottom: 1px solid #333;
}
#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
  padding: 3px 0;
}
#vomnibar li .vomnibarSauce {
  color: #aaa;
}
#vomnibar li em,
#vomnibar li .vomnibarTitle {
  color: #aaa;
}
#vomnibar li .vomnibarUrl {
  color: #222;
}
#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: #fff;
}
#vomnibar li .vomnibarMatch {
  color: #777;
  font-weight: normal;
}
#vomnibar li.vomnibarSelected {
  background-color: #333;
}
