:root {
  /** Customizable Palette */
  --vimium-accent: hotpink;
  --vimium-text: #fff;
  --vimium-background: #444;

  /** Calcurated Palette */
  --vimium-text-secondary: color-mix(in srgb, var(--vimium-text) 60%, transparent);
  --vimium-text-tertiary: color-mix(in srgb, var(--vimium-text) 35%, transparent);
  --vimium-background-selected: color-mix(in srgb, var(--vimium-background), #000 20%);
  --vimium-border-primary: var(--vimium-background-selected);
  --vimium-box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

@keyframes show {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#vimiumHintMarkerContainer {
  .internalVimiumHintMarker {
    padding: 3px 4px;
    background: var(--vimium-background);
    border: none;
    box-shadow: var(--vimium-box-shadow);
  }

  span {
    color: var(--vimium-text);
    text-shadow: none;
  }

  .matchingCharacter {
    opacity: 0.4;

    ~ span {
      color: var(--vimium-accent);
    }
  }
}

#vomnibar {
  background: var(--vimium-background);
  border: none;
  box-shadow: var(--vimium-box-shadow);
  animation: show 200ms cubic-bezier(0, 0, 0.2, 1) forwards;

  .vomnibarSearchArea {
    padding: 10px 30px;
    color: var(--vimium-text);
    background: transparent;
    border: none;
  }

  #vomnibarInput {
    padding: 0;
    color: var(--vimium-text);
    background: transparent;
    box-shadow: none;
  }

  ul {
    margin: 0;
    padding: 0;
    background: transparent;
    border-top: 1px solid var(--vimium-border-primary);
  }

  li {
    padding: 10px;
    border-bottom: 1px solid var(--vimium-border-primary);

    .vomnibarTopHalf,
    .vomnibarBottomHalf {
      display: flex;
      padding: 3px 0;
    }

    .vomnibarTitle,
    .vomnibarSource {
      color: var(--vimium-text-secondary);
    }

    .vomnibarUrl {
      overflow: hidden;
      color: var(--vimium-text-tertiary);
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .vomnibarMatch {
      color: var(--vimium-accent);
      font-weight: normal;
    }

    .vomnibarTitle .vomnibarMatch {
      color: var(--vimium-accent);
    }

    &.vomnibarSelected {
      background-color: var(--vimium-background-selected);
      border-bottom: 1px solid transparent;
    }
  }
}

div.vimiumHUD {
  background: var(--vimium-background);
  border: none;
  box-shadow: var(--vimium-box-shadow);

  .hud-find {
    display: flex;
  }

  span#hud-find-input {
    position: relative;
    width: 100%;
    color: var(--vimium-text);

    &::before {
      position: sticky;
      left: 0;
      padding-right: 4px;
      color: var(--vimium-text-secondary);
      background: linear-gradient(
        90deg,
        var(--vimium-background) 0%,
        var(--vimium-background) 50%,
        transparent 100%
      );
    }
  }

  #hud-match-count {
    flex-shrink: 0;
    float: none;
    padding-left: 4px;
  }

  .hud-find,
  .vimiumHUDSearchArea {
    background-color: transparent;
    border: none;
  }
}
